In [7]:
import pandas as pd
import numpy as np

sample_submission = pd.read_csv('sample_submission.csv')
test_data = pd.read_csv('test.csv', index_col='PassengerId')
train_data = pd.read_csv('train.csv', index_col='PassengerId')

sample_submission.head()
test_data.head(20)
train_data.head(20)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
0,1,1,"Oconnor, Frankie",male,NaN,2,0,209245,27.14,C12239,S
1,0,3,"Bryan, Drew",male,NaN,0,0,27323,13.35,NaN,S
2,0,3,"Owens, Kenneth",male,0.33,1,2,CA 457703,71.29,NaN,S
3,0,3,"Kramer, James",male,19.00,0,0,A. 10866,13.04,NaN,S
4,1,3,"Bond, Michael",male,25.00,0,0,427635,7.76,NaN,S
5,0,2,"Sassano, Jonathan",male,35.00,0,0,13363,6.71,NaN,S
6,0,3,"Conway, Jose",male,7.00,0,0,A/5,9.77,NaN,S
7,1,3,"Werner, Linda",female,6.00,1,2,434426,31.50,NaN,S
8,0,1,"Wardlaw, Michael",male,27.00,2,1,474849,73.02,A7253,S
9,0,2,"Greigo, Rudy",male,66.00,0,0,6981,9.14,D2969,C
10,0,3,"Nichols, William",male,31.00,0,0,459690,8.06,NaN,S
11,0,1,"Telschow, Robert",male,60.00,0,0,19600,31.50,A9055,S
12,0,3,"Stewart, Pat",male,36.00,0,0,434108,9.34,C8674,S
13,1,2,"Raef, Phillip",male,50.00,0,0,3790453,7.88,NaN,Q
14,1,1,"Seaton, Karen",female,44.00,0,1,12425,28.40,D6945,C
15,1,3,"Estrada, Nancy",female,57.00,0,0,A/S 53862,9.31,NaN,S
16,0,3,"Feller, Jimmie",male,53.00,0,0,NaN,7.92,NaN,S
17,0,1,"Geiger, Maria",male,43.00,0,0,487299,29.84,NaN,S
18,0,2,"Barren, Albert",male,25.00,0,0,24142,8.85,NaN,S
19,1,1,"Hall, Stephanie",female,61.00,0,4,PC 174821,205.01,B7010,Q

# Context

In [8]:
# определим размерность датафрейма
train_data.shape

(100000, 11)

In [9]:
# Информация по датафрейму
train_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 11 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Survived  100000 non-null  int64
 1   Pclass    100000 non-null  int64
 2   Name      100000 non-null  object
 3   Sex       100000 non-null  object
 4   Age       96708 non-null   float64
 5   SibSp     100000 non-null  int64
 6   Parch     100000 non-null  int64
 7   Ticket    95377 non-null   object
 8   Fare      99866 non-null   float64
 9   Cabin     32134 non-null   object
 10  Embarked  99750 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 9.2+ MB

# Data quality assessment

# Data exploration

# Summary